.product-box {
    background: #000000d9;
    margin-top: 40px;
    border-radius: 19px;
    text-align: center;
    /* overflow: hidden; */
}
.product-box img {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.product-box h1,.product-box p,.product-box h5{
    color: #fff;
}
.product-box h1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 16px;
    margin: 18px 0px;
}
.product-box p{
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}
.font-weight-bold{
    font-weight:bold;
}
.product_detail{
    text-align: left;
}
.product_thumbnail_images img{
   width:100%;
   height:100%;
}
.product_image img{
    width:100%;
   
    background-size: cover;
    object-fit: cover;
}
.product_details{
    margin-top:40px!important;;
    text-align: left!important;
}
.product_details h1{
    text-align: left;
    font-size: 28px;
    margin:10px 0;
}
.product_details h2{
    font-size: 14px;
    color: gray;
}
.product-price span {
    font-size: 18px;
}
.product-price {
    padding: 6px 0px;
    line-height: 27px;
}
.product_big_image img {
    height: 450px;
    background-size: cover;
    object-fit: contain;
}
.product_thumbnail_images img {
    cursor: pointer;
    height: 120px!important;
    width: 120px;
    object-fit: cover;
}
input#Amount {
    margin-left: 10px;
}
.product_thumbnail_images{
    row-gap: 25px;
}
@media (min-width: 240px) and (max-width: 489px)
{
    .product_big_image img {
        height: 300px;
       
    }
    .product_thumbnail_images img {
        border: 1px solid#00000021;
    }
}
@media (min-width: 480px) and (max-width: 767px)
{
    .product-box img{
        width:100%;
    }
}
@media (min-width: 576px) and (max-width: 767px)
{
    .product_details {
        margin-top: 0px!important; 
    }
    .product_big_image img {
        height: 250px;
    }
    .product_thumbnail_images img {
        height: 55px!important;
        width: 56px;
    }
    .cart_details .images img {
        width: 88px;
        height: 77px;
        object-fit: cover;
    }
    
}
@media (min-width: 768px) and (max-width:999px)
{
    .product_details {
        margin-top: 0px!important; 
    }
    .product_big_image img {
        height: 300px;
    }
    .product_thumbnail_images img {
        height: 55px!important;
        width: 56px;
    }
    .cart_details .images img {
        width: 88px;
        height: 77px;
        object-fit: cover;
    }
    
}